
@*dont forget to declare the view's model on the first line!*@

@{
    ViewBag.Title = "My Favorites";
}

<div class="jumbotron">
    <h1>My Favorit.es</h1>
    <p class="lead">Click to unfavorite something</p>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Back to Favorit.es</a></p>
</div>

<div class="row">
    @*the users favorites will go here*@
</div>